body{
  font-family: 'Quattrocento', sans-serif;
}


#forons .image {
    position: relative;
    width: 240px;
    height: 240px;
    margin-right: 60px;
    vertical-align: middle;
}



#forons .image:hover {
  -moz-transform: scale3d(0.96, 0.96, 0.96);
  -webkit-transform: scale3d(0.96, 0.96, 0.96);
  transform: scale3d(0.96, 0.96, 0.96);
     animation-duration: 30s;
}

#forons h1,#forons h3{
  margin:0;
}

h1, h2,h3{
  font-family: 'Oswald', sans-serif;
}
h3{
  font-weight: 300;
}
h4{
    font-size: 1.5em;
    font-weight: 700;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(227, 228, 229, 0.4)) repeat scroll 0% 0%, none repeat scroll 0% 0% transparent;
    transform: translate3d(0px, 0px, 0px);
    display:block;
    height:60px;
}

article {
    position: relative;
}
#content{
  padding-top:110px;
  padding-bottom: 60px;
}
.wide{
    text-align: center;
    min-height:850px;
    width:100%;
    display:block;
}
.wide h1, .wide h2{
    font-family: 'Oswald', sans-serif;
    font-size: 4.75em;
    text-transform: uppercase;
}
.wide h2{
    font-size: 3em;
}

.wide.list p{
    font-size:1.3em;
}

.teal{
    background:#18BC9C;
}

#portfolio * {
    z-index: 2;
}

.portfolio-link {
    display: block;
    position: relative;
    overflow:hidden;
    margin: 0.9375em auto;
}

.portfolio-link .caption {
    -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
}

.portfolio-link:hover .caption {
    -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

.portfolio-link .caption .caption-content h3,
.portfolio-link .caption .caption-content h4 {
    margin: 0;
}

.portfolio-link .caption .caption-content {
    position: absolute;
    top: 38%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

/*
  FORONS

*/
#forons{
    color:white;
}

#forons img{
    margin:50px 0;
    border-radius: 8px;
}

#forons h1{
    color:white;
}

#forons .social{
  margin-top: 50px;
}

#forons .social a {
    display: block;
    height: 37px;
    width: 140px;
    border-radius: 37px;
    background: url("../img/ico-social.png") no-repeat scroll 10px top transparent;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    line-height: 36px;
    transition: #6363CE 0.4s ease 0s;
}

#forons .social a.facebook {
    background-color: #4B67A0;
    text-indent: 46px;
    text-transform: uppercase;
}


hr.star-light, hr.star-primary {
    margin: 25px auto 50px;
    padding: 0;
    max-width: 250px;
    border-right: 0px none;
    border-width: 5px 0px 0px;
    border-style: solid none none;
    border-color: #FFF;
    text-align: center;
}

hr.star-light,
hr.star-primary {
    border: 0;
    border-top: solid 5px;
}

#forons hr.star-light, hr.star-primary{
    margin-bottom: 30px;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f091";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

.teal hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    background-color: #fff;
}
.teal hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}
#forons .skills{
    font-size: 1.75em;
}



.fb-like{
    width:350px;
    display:block;
    margin-top:20px;
}



